[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	hist = log --graph --all --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(white)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --date=short

  	fp = fetch --prune
	b = branch
	bd = branch -d
	cb = "! f() { git checkout -b $1; }; f"
	cp = cherry-pick
	df = "!# Select diff file; \n\
		git diff $(git status-select) "
	s = status
	pl = pull
	plr = pull --rebase
	rs = restore
	rss = restore --staged
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	comm = commit
	comma = commit --amend
	p0 = "!git push origin $(git branch --show-current)"

	branch-select = "!# Select branch; \n\
		git branch | fzf"
	remote-branch-select = "!# Select branch; \n\
		git branch -r | fzf"
	status-select = "!# Select files;\n\
		git s -s | fzf -m | awk '{print $2}' "
	a = "!# Add selected filed; \n\
		git add $(git status-select)"
	ch = "!# Checkout selected branch; \n\
		git checkout $(git branch-select)"
	chr = "!# Checkout selected remote branch; \n\
		git checkout -t $(git remote-branch-select)"
	bds = "!# Checkout selected branch; \n\
		git bd $(git branch-select)"
	bdsr = "!# Checkout selected remote branch; \n\
		git push origin --delete $(git remote-branch-select)"
	gone = "! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '\$2 == \"[gone]\" {print \$1}' | xargs -r git branch -D"
	bdsync = "! git branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs git branch -D"

[includeIf "gitdir:~/dev/workspace/study/"]
	path = .gitconfig-personal

# 경로에 * 로 특정 패턴으로 추가 가능
[includeIf "gitdir:~/dev/workspace/company/"]
	path = .gitconfig-company

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[commit]
	template = /Users/sb/.gitmessage
[core]
	editor = code --wait

[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
